//-
    Developers:
    * Adar Azulay 208545285
    * Tal Damari 208129643
    * Shirel Oskar 318572401

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
